<%= form_for @changeset, @action, [class: "new-category"], fn f -> %>
  <%= text_input f, :title, placeholder: "Type a title" %>
  <%= error_tag f, :title %>
  <div class="action-bar">
    <div class="end">
      <%= link "Cancel", to: category_path(@conn, :index), class: "pure-button button-primary -muted cancel" %>
      <%= submit "Create Category", class: "pure-button button-primary" %>
    </div>
  </div>
<% end %>
