<span><%= link "New Category", to: category_path(@conn, :new) %></span>

<ol class="category-list">
  <%= for category <- @categories do %>
    <li>
      <h2 class="title">
        <%= category_link(@conn, category) %>
      </h2>
    </li>
  <% end %>
</ol>
