<h2>New Category</h2>

<%= render "form.html", changeset: @changeset,
                        action: category_path(@conn, :create) %>

<span><%= link "Back", to: category_path(@conn, :index) %></span>
