@import "../variables";

.title-bar {
  > header.mdl-layout__header {
    background: white;
    color: $punch;
    .mdl-layout__drawer-button {
      color: $tundora;
    }
  }
  .logo {
    line-height: 1rem;
    img {
      height: 40px;
    }
    span {
      display: none;
    }
  }
}
