$purple: #673AB7;

.category-pill {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  font-size: .75rem;
  > .category {
    list-style-type: none;
    > a {
      color: $white;
      text-decoration: none;
      display: inline-block;
      padding: $padding-small $padding-medium;
      border-right: 1px solid white;
      &:hover {
        background: lighten($purple, 10%);
      }
    }
    @for $n from 0 through 359 {
      &.-color-#{$n} {
        a {
          background-color: hsla($n, 100%, 50%, 1);
        }
      }
    }
    &:first-child {
      a {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
      }
    }
    &:last-child {
      a {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        border-right: 0;
      }
    }
  }
}
