.category-list {
  padding: 0;
  margin-top: 0;
  .category-list {
    margin-left: 1rem;
  }
  > li {
    list-style-type: none;
  }

  > li > h2 > a {
    @include underline-on-hover;
  }

  > li > h2 {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    margin: 0;
  }

  > li > .category-list {
    > li > h2 {
      // Children of the top-level category list need a smaller h2 that isn't
      // bold
      font-size: $font-size-medium;
      font-weight: $font-weight-normal;
    }
  }
}
