.pure-menu.pure-menu-vertical
  %ul.pure-menu-list
    - for nav_item <- @view_module.nav_items(@view_template, @conn) do
      %li.pure-menu-item= link nav_item.text, Keyword.merge([to: nav_item.path, class: "pure-menu-link"], nav_item.options)
