.pure-menu.pure-menu-horizontal.navigation-menu
  - # Show back arrow if we should do that
  - if link = @view_module.back(@view_template, @conn) do
    %a.back-arrow.pure-menu-link{href: link}
      %i.fa.fa-arrow-left

  %a.pure-menu-heading.pure-menu-link.navigation-logo-link{href: "#{page_path(@conn, :home)}"}
    = render "_logo.html", conn: @conn

  %ul.pure-menu-list
    %li.pure-menu-item= link 'Home', to: page_path(@conn, :home), class: "pure-menu-link"
    - if logged_in?(@conn) do
      %li.pure-menu-item= link 'Log Out', to: auth_path(@conn, :delete), class: "pure-menu-link", method: :delete
