@import "../variables";

.page-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  > h1 {
    margin-bottom: 4rem;
    img {
      width: 100%;
    }
  }
  > button {
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1.5rem;
    position: relative;
    > i {
      position: absolute;
      left: 2rem;
      font-size: 2rem;
    }
  }
  a.sign-in-link {
    text-transform: uppercase;
    padding: 1rem 0 1rem 1rem;
  }
  > a {
    text-decoration: none;
    align-self: flex-end;
  }
}

