- if logged_in?(@conn) do
  Logged in as #{current_user(@conn).username}

%section.login-page
  %a.pure-button.button-primary.github-link{href: "/auth/github"}
    %i.fa.fa-github
    Log in with GitHub
  %a.pure-button Create Account
  = link "Sign In", to: page_path(@conn, :home), class: "sign-in-link"
  %p.legal-disclaimer
    By signing up, I agree to Firestorm's
    %a{href: "#"} Terms and Privacy Policy
