%section.login-page
  %a.logo{href: "#{page_path(@conn, :home)}"}
    = render "_logo.html", conn: @conn

  %a.pure-button.button-primary.github-link{href: "/auth/github"}
    %i.fa.fa-github
    Log in with GitHub
  %a.pure-button Create Account
  = link "Sign In", to: page_path(@conn, :home), class: "sign-in-link"
  %p.legal-disclaimer
    By signing up, I agree to Firestorm's
    %a{href: "#"} Terms and Privacy Policy
