<h2>New Thread</h2>

<%= form_for @changeset, category_thread_path(@conn, :create, @category.slug), fn f -> %>
  <label>
    Title: <%= text_input f, :title %>
  </label>

  <label>
    Body<br />
    <%= textarea f, :body %>
  </label>

  <%= submit "Create Thread" %>
<% end %>
