<h2>New Thread</h2>

<%= form_for @changeset, category_thread_path(@conn, :create, @category.slug), fn f -> %>
  <label>
    Title: <%= text_input f, :title %>
  </label>

  <%= submit "Create Thread" %>
<% end %>
