// Settings - Colors
// ===============
// What colors do we use in this app? They all go here. No exceptions. Don't go
// tinting things inline all willy-nilly.

// NOTE: Use this color naming tool to name our colors.
// http://chir.ag/projects/name-that-color/

// FIXME: We need to not name this in this style in this app because skinning
// will be awful if we keep using these names.

$punch: #DB3440;
// Uses:
// - badge-block.-highlight background-color
// - button-primary background-color

$yellow-orange: #FAAF3F;
// Uses:
// - list here

$tower-gray: #acb7bf;
// Uses:
// - thread-list-item metadata
// - thread-header metadata

$silver: #BBBBBB;
// Uses:
// - list here

$tundora: #444444;
// Uses:
// - badge-block text color

$botticcelli: #dbe8f1;
// Uses:
// - thread-list-item border-bottom
// - badge-block background

$white: #ffffff;
// Uses:
// - badge-block.-highlight text color
// - navigation-menu background

$black: #000000;
// Uses:
// - navigation-menu drop shadow

$shadow-color: rgba($black, .24);

$iron: #d6dbdf;
// Uses:
// - .alert-box (no modifiers)

$forest-green: #259B24;
// Uses:
// - .alert-box.-success

$sky-blue: #64caec;
// Uses:
// - .post-editor > textarea: border-color
