.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: $padding-xlarge;

  @media screen and (min-width: $sm) {
    max-width: $sm;
    margin: 0 auto;
  }

  .logo {
    margin-bottom: $margin-xxlarge;
    margin-top: $margin-xxlarge;
    .navigation-logo {
      img {
        height: auto;
        width: 100%;
      }
    }
  }
  > button, > .github-link, > .pure-button {
    border-radius: $border-radius;
    margin-bottom: $margin-large;
    width: 100%;
    font-size: $font-size-large;
    position: relative;
    border: $border-width-small solid $punch;
    background: transparent;
    color: $punch;
    > i {
      vertical-align: top;
      font-size: $font-size-xlarge;
    }
  }
  > .github-link {
    background: $punch;
    color: $white;
  }
  a.sign-in-link {
    text-transform: uppercase;
    padding: $padding-large 0 $padding-large $padding-large;
    align-self: flex-end;
    text-decoration: none;
  }
  .legal-disclaimer {
    color: $tower-gray;
  }
}
