<div class="page-header">
  <h2><%= link "Users", to: user_path(@conn, :index) %></h2>
</div>

<ul class="user-list">
  <%= for user <- @users_page do %>
    <li>
      <div class="avatar">
        <%= link to: user_path(@conn, :show, user) do %>
          <img src="<%= avatar_url(user) %>" class="user-avatar -borderless" />
        <% end %>
      </div>
        <%= link user.username, to: user_path(@conn, :show, user) %>
    </li>
  <% end %>
</ul>

<%= pagination_links @users_page %>
