<div class="page-header">
  <h2><%= link "Users", to: user_path(@conn, :index) %></h2>
</div>

<ul class="user-list">
  <%= for user <- @users_page do %>
    <li><%= link user.username, to: user_path(@conn, :show, user) %></li>
  <% end %>
</ul>

<%= pagination_links @users_page %>
