<div class="user-details">
  <div class="contact">
    <img src="https://api.adorable.io/avatars/285/abott@adorable.png" class="user-avatar" />
    <h1 class="username"><%= @user.username %></h1>
    <h3 class="name"><%= @user.name %></h3>
    <p class="site"><a href="http://www.dailydrip.com">dailydrip.com</a></p>
  </div>
  <div class="meta">
  </div>
</div>

<ol class="user-posts">
  <li>post1</li>
</ol>
