<h2>New Post</h2>

<%= form_for @changeset, category_thread_post_path(@conn, :create, @category.slug, @thread.id), fn f -> %>
  <label>
    Body: <%= textarea f, :body %>
  </label>

  <%= submit "Create Post" %>
<% end %>
