.badge-block {
  border-radius: $border-radius;
  padding: $padding-small $padding-medium;
  background-color: $botticcelli;
  color: $tundora;
  &.-highlight {
    background-color: $punch;
    color: $white;
  }
}
