.thread-list-item {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  > .details {
    flex-grow: 1;
    > .summary {
      > .title {
        color: $tundora;
        @include underline-on-hover;
      }
      > .user-name {
        @include underline-on-hover;
      }
    }
    > .metadata {
      color: $tower-gray;
    }
  }
  > .supplemental {
  }
}
