.navigation-drawer
  %ul
    - for nav_item <- @view_module.nav_items(@view_template, @conn) do
      %li
        - klasses = []
        - if nav_item.active do
          - klasses = ["active" | klasses]
        = link nav_item.text, Keyword.merge([to: nav_item.path, class: Enum.join(klasses, " ")], nav_item.options)
