.post-item
  .item-metadata
    = user_link(@post.user)
    = time_abbr(@post.inserted_at)

  .body
    = markdown(@post.body)

  .post-item-actions
    .spacer
    %ul.actions
      %li
        %a{href: "#"}
          %i.emoticon-faces
      %li
        %a{href: "#"}
          %i.fa.fa-quote-right
      %li
        %a{href: "#{category_thread_post_path(@conn, :new, category_finder(@category), @thread.id)}"}
          %i.fa.fa-reply
