%h2= @category.title
= render "_back.html", conn: @conn, parent: @category.parent
= render "_subnav.html", conn: @conn, category: @category

%h3 Threads
%ul
  - for thread <- @category.threads do
    %li
      = link thread.title, to: category_thread_path(@conn, :show, @category.slug, thread.id)
