<h2><%= @category.title %></h2>
<%= render "_back.html", conn: @conn, parent: @category.parent %>

<%= link "New Thread", to: category_thread_path(@conn, :new, @category.slug) %>
<h3>Threads</h3>
<ul>
  <%= for thread <- @category.threads do %>
    <li>
      <%= link thread.title, to: category_thread_path(@conn, :show, @category.slug, thread.id) %>
    </li>
  <% end %>
</ul>
