%h2= @category.title
= render "_back.html", conn: @conn, parent: @category.parent
= render "_subnav.html", conn: @conn, category: @category

%h3 Threads
= ThreadView.render "_list.html", threads: @category.threads, conn: @conn
