// Settings - Metrics
// =================
// This holds numbers for things like default margins, paddings, border-radius,
// etc.

$border-radius: .25rem;

$border-width-small: .125rem;
$border-width-medium: .25rem;

$padding-small: .25rem;
$padding-medium: .5rem;
$padding-large: 1rem;
$padding-xlarge: 2rem;
$padding-xxlarge: 4rem;

$margin-xsmall: .1rem;
$margin-small: .25rem;
$margin-medium: .5rem;
$margin-large: 1rem;
$margin-xlarge: 2rem;
$margin-xxlarge: 4rem;

$font-size-xsmall: .75rem;
$font-size-small: 1rem;
$font-size-medium: 1.25rem;
$font-size-large: 1.5rem;
$font-size-xlarge: 2rem;
$font-size-fa-icon: 22px; // fontawesome

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$item-metadata-avatar-size: 2.5rem;
