// Tools - Mixins
// ==============
// Mixins that we use.

@mixin underline-on-hover() {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

@mixin transition-color($first, $second) {
  color: $first;
  text-decoration: none;
  @include transition(color 0.1s ease-in-out);
  &:hover {
    color: $second;
  }
}

@mixin transition($transition){
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin text-field() {
  border-width: 0 0 1px 0;
  border-color: $tower-gray;
  resize: vertical;
  margin-top: $margin-xsmall;
  margin-bottom: $margin-xsmall;
  &:focus {
    border-color: $sky-blue;
    outline: none;
    box-shadow: none;
  }
}

@mixin padded_page() {
  .layout-content-main {
    padding: $padding-xlarge $padding-large $padding-large $padding-large;
  }
}

// Media Queries
@mixin sm {
  @media (min-width: #{$sm}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$md}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$lg}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$xl}) {
    @content;
  }
}
