// Tools - Mixins
// ==============
// Mixins that we use.

@mixin underline-on-hover() {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

@mixin text-field() {
  border-width: 0 0 1px 0;
  border-color: $tower-gray;
  resize: vertical;
  margin-top: $margin-xsmall;
  margin-bottom: $margin-xsmall;
  &:focus {
    border-color: $sky-blue;
    outline: none;
    box-shadow: none;
  }
}

@mixin padded_page() {
  .layout-content-main {
    padding: $padding-large;
  }
}

// Media Queries
@mixin sm {
  @media (min-width: #{$sm}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$md}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$lg}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$xl}) {
    @content;
  }
}
