// This should only have imports :)
//
// Inverted triangle for the import order, but modified a little bit for our
// purposes.
//
// Here's what Inverted Triangle CSS is:
// - https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/

// == SETTINGS ==
@import "settings.colors";
@import "settings.metrics";
@import "settings.global";

// == TOOLS ==
@import "tools.mixins";

// == GENERIC ==
@import "generic.normalize";
@import "generic.purecss";
@import "generic.typeplate";

// == ELEMENTS ==
// NOTE: This will hold element-specific styles in one file for now, but I
// expect it to expand later
@import "elements";

// == PAGES ==
// @import "./pages/*";

// == LAYOUTS ==
// @import "./layouts/*";

// == COMPONENTS ==
@import "./components/*";
