.alert-box {
  padding: $padding-large;
  color: $white;
  &.-success {
    background-color: $forest-green;
  }
  &.-info {
    background-color: $yellow-orange;
  }
  &.-error {
    background-color: $punch;
  }
}
