.back-arrow {
  text-decoration: none;
  font-size: 1.3rem;
  padding: .5rem;
  color: $tundora;
  display: inline-block;
  &:hover {
    color: $punch;
  }
  & + .pure-menu-heading {
    padding-left: 0;
  }
}
