.navigation-drawer {
  position: relative;
  padding-left: $padding-large;
  margin-right: $padding-xxlarge;
  padding-top: $padding-medium;
  > a.back-arrow {
    position: absolute;
    left: 0;
    top: 0.5rem;
    @media screen and (max-width: $lg){
      display: none;
    }
  }
  > ul {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid $botticcelli;
    &:last-child {
      border-bottom: 0;
    }
    > li {
      list-style-type: none;
      display: block;
      &.-is-active {
        a {
          color: $punch;
          font-weight: $font-weight-semibold;
        }
      }
      &.-has-notifications {
        a {
          font-weight: $font-weight-semibold;
        }
      }
      a {
        padding: 0 $padding-large;
        margin: $margin-medium 0;
        text-decoration: none;
        display: block;
        color: $tundora;
        border-style: solid;
        border-color: transparent;
      }
    }
  }
}
