.navigation-menu {
  position: relative;
  padding: $padding-medium;
  background: $white;
  box-shadow: 0 1.5px 4px $shadow-color;
  a {
    vertical-align: middle;
  }
  > ul {
    float: right;
    padding: $padding-medium;
  }
  > a.back-arrow {
    @media screen and (min-width: $lg){
      display: none;
    }
  }
}
