.post-item {
  border-bottom: 1px solid $botticcelli;
  padding: $padding-large 0;
  &.first-post {
    padding-top: 0;
  }
  &:target {
    background-color: rgba($punch, 0.03);
  }
  > .body {
    margin-top: $margin-medium;
    img {
      max-width: 100%;
    }
  }
}
