// Because this has a mounted elm app and I didn't want to make its classes
// correspond strictly to ours (as it's just a component), I do some deeper
// selector targeting here. I wouldn't do it in typical components.
.reaction-picker {
  position: relative;
  > .widget {
    background: $white;
    box-shadow: 0 1.5px 4px $shadow-color;
    height: 300px;
    overflow-y: auto;
    border: 1px solid $tower-gray;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding: $padding-medium;
    > div {
      > input {
        padding: $padding-medium;
        &::-webkit-input-placeholder {
          color: $tower-gray;
        }
      }
    }
    div.emoji {
      display: inline-block;
      padding: $padding-medium;
    }
  }
}
