.thread-list-item {
  padding: $padding-large 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid $botticcelli;
  > .details {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    > .summary {
      > .category-pill {
        display: inline-block;
      }
      > .title {
        color: $tundora;
        @include underline-on-hover;
      }
      > .username {
        @include underline-on-hover;
        margin-left: $margin-small;
      }
    }
    > .metadata {
      color: $tower-gray;
      margin-left: $margin-small;
      > abbr {
        color: $tower-gray;
        font-weight: normal;
      }
    }
  }
  > .supplemental {
  }
  > .preview {
    width: 200px; // LOLHAX
    flex-basis: 100%;
    color: $tower-gray;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    > p {
      margin-bottom: 0;
    }
    img {
      max-width: 100%;
    }
  }
}
