.user-details {
  background-color: $sky-blue;
  color: $white;
  > .contact {
    > .user-avatar {
      margin: 1rem;
      width: 4rem;
    }
    > .username {
      margin-bottom: 0.75rem;
      color: $white;
      font-size: $font-size-large;
      font-weight: $font-weight-bold;
    }
    > .name {
      margin-bottom: 0.5rem;
      color: $white;
      font-size: $font-size-medium;
      font-weight: $font-weight-normal;
    }
    > .site {
      font-weight: $font-weight-normal;
      > a {
        color: $white;
      }
    }
  }
}
