// design bits! See bottom for layout bits...
.user-details {
  background-color: $sky-blue;
  color: $white;
  > .user-avatar {
    margin: $margin-large;
    width: 4rem;
  }
  > .contact {
    text-align: center;
    @include lg {
      text-align: left;
    }
    > .username {
      margin-bottom: 0.75rem;
      color: $white;
      font-size: $font-size-large;
      font-weight: $font-weight-bold;
    }
    > .name {
      margin-bottom: $margin-medium;
      color: $white;
      font-size: $font-size-medium;
      font-weight: $font-weight-normal;
    }
    > .site {
      font-weight: $font-weight-normal;
      > a {
        color: $white;
      }
    }
  }

  > .edit {
    align-self: flex-start;
    position: relative;
    a {
      position: absolute;
      top: $padding-large;
      right: 0;
      font-size: $font-size-medium;
      padding: $padding-large;
      color: $white;
      background: rgba($white, 0);
      @include transition-color(rgba($white, 0.8), $white);
    }
  }

  > hr {
    width: 80%;
    height: 0;
    border-color: $white;
    color: transparent;
    background-color: transparent;
    border-style: solid;
    border-width: 1px 0 0 0;
  }

  > .meta {
    padding-bottom: 0.001rem; // magic number to make the margin apply below the last ul
    > ul {
      list-style-type: none;
      padding-left: 0;
      > li {
        > strong {
          &:after {
            content: ':';
          }
        }
      }
    }
  }
}

// layout bits! keeping them separate to make it easier to read
.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 $padding-medium;
  @include lg {
    flex-direction: row;
  }
  > .user-avatar {
  }
  > .contact {
    > .site {
      margin-bottom: 0;
    }
  }
  > hr {
    @include lg {
      border-width: 0 0 0 1px;
      width: 1px;
      display: block;
      height: 9rem;
      margin: 0 2rem;
    }
  }
  > .meta {
    flex-grow: 1;
  }
}
