.user-editor {
  display: flex;
  flex-flow: column nowrap;
  .form-group {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    margin-bottom: $margin-large;
    .control-label {
      min-width: 25rem;
      text-align: right;
      padding-right: $padding-large;
      color: $punch;
      font-weight: $font-weight-bold;
    }
    .form-control {
      &.-avatar {
        width: 25%;
        height: 25%;
      }
      input[type=text] {
        @include text-field();
        min-width: 25rem;
      }
      p {
        color: $silver;
        font-size: $font-size-xsmall;
        margin-bottom: 0;
      }
    }
  }
}
