.layout-app {
  .layout-content {
    display: flex;
    flex-direction: row;
    .layout-drawer-tablet {
      @media screen and (max-width: $lg){
        display: none;
      }
      @media screen and (min-width: $lg){
        min-width: 200px;
      }
    }
    > .layout-content-main {
      flex-grow: 1;
    }
    > .layout-drawer-tablet {
      width: 20rem;
      flex-shrink: 0;
    }
  }
  // FIXME: This probably / maybe doesn't belong here?
  @media screen and (min-width: $lg){
    .pure-toggle-label {
      display: none;
    }
  }
}
