<h2>Log In</h2>

<%= form_for @changeset, @callback_url, [class: "pure-form"], fn f -> %>
  <div>
    <label>
      Username: <%= text_input f, :username %>
    </label>
    <%= error_tag f, :username %>
  </div>
  <div>
    <label>
      Password: <%= password_input f, :password %>
    </label>
    <%= error_tag f, :password %>
  </div>
  <%= submit "Log in or register", class: "pure-button button-primary" %>
<% end %>
