<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="theme-color" content="#DB3440" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">

    <title><%= page_title(@conn) %></title>
    <%= {:safe, css_link_tag()} %>
    <!-- We bring in fontawesome because it's awesome -->
    <script src="https://use.fontawesome.com/b706cffc0a.js"></script>
  </head>

  <!-- I'll add a layout-specific class to any layout I create -->
  <!-- I'll also add a template-specific class for styling individual pages easily -->
  <body class="layout-app <%= page_class(@conn) %>">
    <!-- I'm using pure-drawer - http://mac81.github.io/pure-drawer/ - for a mobile navigation drawer -->
    <div class="pure-container" data-effect="pure-effect-slide">
      <input id="pure-toggle-right" class="pure-toggle" data-toggle="right" type="checkbox" />
      <label class="pure-toggle-label" data-toggle-label="right" for="pure-toggle-right">
        <span class="pure-toggle-icon"></span>
      </label>
      <div class="pure-drawer" data-position="right">
        <%= render "_drawer.html", conn: @conn, notifications: @notifications %>
      </div>
      <!--
        this is the container for pure-drawer that holds the main content
        that the drawer will appear in front of
      -->
      <div class="pure-pusher-container">
        <!-- Stuff inside pure-pusher gets pushed if the drawer pushes content -->
        <div class="pure-pusher">
          <%= render "_navigation.html", conn: @conn, view_module: @view_module, view_template: @view_template %>
          <!-- Now our styles take over and we'll define the main content area -->
          <div class="layout-content">
            <div class="layout-drawer-tablet">
              <%= render "_drawer.html", conn: @conn, notifications: @notifications %>
            </div>
            <!-- We made it to the main content! -->
            <div class="layout-content-main">
              <%= for {key, val} <- get_flash(@conn) do %>
                <p class="alert-box -<%= key %>" role="alert">
                  <%= val %>
                </p>
              <% end %>
              <!--
                And here's where we render a given view inside of the
                template
              -->
              <%= render @view_module, @view_template, assigns %>
            </div>
          </div>
        </div>
      </div>
      <!--
        Finally, this label will act as the overlay when it needs to appear
      -->
      <label class="pure-overlay" data-overlay="right" for="pure-toggle-right"></label>
    </div>
    <%= {:safe, js_script_tag()} %>
  </body>
</html>
