<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Firestorm</title>
    <%= {:safe, css_link_tag()} %>
  </head>

  <body>
    <%= render "_logo.html", conn: @conn %>
    <%= render "_navigation.html", conn: @conn %>

    <%= for {key, val} <- get_flash(@conn) do %>
      <p class="alert alert-<%= key %>" role="alert"><%= val %></p>
    <% end %>

    <%= render @view_module, @view_template, assigns %>
    <%= {:safe, js_script_tag()} %>
  </body>
</html>
