%h2 New Post

- form_for @changeset, category_thread_post_path(@conn, :create, @category.slug, @thread.id), [class: "post-editor"], fn f ->
  = textarea f, :body

  .actions
    %submit.pure-button.button-primary.reply
      %i.fa.fa-mail-reply
      Reply
    %button.pure-button.button-primary.-muted.cancel
      Cancel
    .spacer
    %button.pure-button.button-primary.-inverted.attachment
      %i.fa.fa-paperclip
