<ol class="thread-list">
  <%= for thread <- @threads do %>
    <li class="thread-item">
      <a class='title' href='<%= thread_path(@conn, :show, thread.id) %>'><%= thread.title %></a>
      <a class='user-name' href='#'>@<%= user(thread).username %></a>
      <span class='time'>Jan 21 2017 @ 1:52PM</span>
      <span class='new-count'><%= length(thread.posts) %></span>
    </li>
  <% end %>
</ol>
