<%= if logged_in?(@conn) do %>
  Logged in as <%= current_user(@conn).username %>
<% end %>

<section class="page-login">
  <a class="rounded-button github-link" href="/auth/github">
    <i class="fa fa-github"></i>
    Log in with GitHub
  </a>
  <a class="rounded-button">Create Account</a>

  <a class ="sign-in-link" href="/home">Sign In</a>

  <p class="legal-disclaimer">
    By signing up, I agree to Firestorm's <a href="#">Terms and Privacy Policy</a>.
  </p>
</section>
