%ol.thread-list
  - for thread <- @threads do
    %li.thread-list-item
      .details
        .summary
          = link thread.title, to: category_thread_path(@conn, :show, thread.category.slug, thread.id), class: "title"
          %a.user-name{href: "#"}
            @#{user(thread).username}
        .metadata
          %span.time Jan 21 2017 @ 1:52PM
      .supplemental
        .badge-block.-highlight= length(thread.posts)
